<mat-card class="example-card d-flex flex-column justify-content-center align-items-center my-4"
    style="min-width: 300px; max-width: 100vw;">
    <!-- <mat-card-header>
        <mat-card-title>Enter attendences</mat-card-title>
    </mat-card-header> -->
    <mat-card-content style="width: 100%;">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="CS-C">
                <div class="container p-4">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, consequatur! Esse sit debitis doloremque possimus corporis! Sint nisi, minus doloribus, labore nobis architecto asperiores quis hic laboriosam quod, reiciendis magni.
                    </p>
                </div>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>